<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Chat Room</h2>
                <div id="chat-log" class="border rounded p-3" style="height: 300px; overflow-y: scroll;">

                </div>
                <input id="chat-message-input" type="text" class="form-control mt-2" placeholder="Enter message">
                <button id="chat-message-submit" class="btn btn-primary mt-2">Send</button>
            </div>
        </div>
    </div>

</body>
<script>

    const roomName = "{{ room_name }}";

    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function(e) {

        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += (data.message + '<br />');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</html>
